#carousel {
  .carousel_item {
    background-size: cover;
    background-position: center;
    height: 300px;
    a {
      text-decoration: none !important;
      color: #ffffff !important;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        color: #ffffff !important;
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}
