<div class="bio-container container-fluid" id="bio">
    <div class="row">
        <div class="col-12 border-shadow">
            {% set images =  globals.authorImage %}
            {% for img in images %}
                <img class="" src="{{ img.getUrl }}" alt="{{ img.fileName }}">
            {% endfor %}
            <div class="bio-copy">
                <h1>{{ globals.authorName }}</h1>
                {{ globals.authorBio }}
            </div>
        </div>
    </div>
</div>
